[submodule "drivers/qwiic_bme280"]
	path = qwiic/drivers/qwiic_bme280
	url = https://github.com/sparkfun/Qwiic_BME280_Py.git
[submodule "drivers/qwiic_ccs811"]
	path = qwiic/drivers_linux_only/qwiic_ccs811
	url = https://github.com/sparkfun/Qwiic_CCS811_Py.git
[submodule "drivers/qwiic_proximity"]
	path = qwiic/drivers_linux_only/qwiic_proximity
	url = https://github.com/sparkfun/Qwiic_Proximity_Py.git
[submodule "drivers/qwiic_scmd"]
	path = qwiic/drivers/qwiic_scmd
	url = https://github.com/sparkfun/Qwiic_SCMD_Py.git
[submodule "qwiic_i2c"]
	path = qwiic/drivers/qwiic_i2c
	url = https://github.com/sparkfun/Qwiic_I2C_Py.git
[submodule "drivers/qwiic_keypad"]
	path = qwiic/drivers/qwiic_keypad
	url = https://github.com/sparkfun/Qwiic_Keypad_Py.git
[submodule "drivers/qwiic_joystick"]
	path = qwiic/drivers/qwiic_joystick
	url = https://github.com/sparkfun/Qwiic_Joystick_Py.git
[submodule "drivers/qwiic_twist"]
	path = qwiic/drivers/qwiic_twist
	url = https://github.com/sparkfun/Qwiic_Twist_Py.git
[submodule "qwiic/drivers/qwiic_vl53l1x"]
	path = qwiic/drivers/qwiic_vl53l1x
	url = https://github.com/sparkfun/Qwiic_VL53L1X_Py
[submodule "qwiic/drivers/qwiic_pca9685"]
	path = qwiic/drivers/qwiic_pca9685
	url = https://github.com/sparkfun/Qwiic_PCA9685_Py
[submodule "qwiic/drivers/pi_servo_hat"]
	path = qwiic/drivers/pi_servo_hat
	url = https://github.com/sparkfun/PiServoHat_Py
[submodule "qwiic/drivers/qwiic_ublox_gps"]
	path = qwiic/drivers/qwiic_ublox_gps
	url = https://github.com/sparkfun/Qwiic_Ublox_Gps_Py
[submodule "qwiic/drivers/qwiic_titan_gps"]
	path = qwiic/drivers/qwiic_titan_gps
	url = https://github.com/sparkfun/Qwiic_Titan_Gps_Py
[submodule "qwiic/drivers/qwiic_tca9548a"]
	path = qwiic/drivers/qwiic_tca9548a
	url = https://github.com/sparkfun/Qwiic_TCA9548A_Py.git
[submodule "qwiic/drivers/qwiic_dual_encoder_reader"]
	path = qwiic/drivers_linux_only/qwiic_dual_encoder_reader
	url = https://github.com/sparkfun/Qwiic_Dual_Encoder_Reader_Py.git
[submodule "qwiic/drivers/top_phat_button"]
	path = qwiic/drivers_linux_only/top_phat_button
	url = https://github.com/sparkfun/Top_pHAT_Button_Py
[submodule "qwiic/drivers/qwiic_icm20948"]
	path = qwiic/drivers/qwiic_icm20948
	url = https://github.com/sparkfun/Qwiic_9DoF_IMU_ICM20948_Py.git
[submodule "qwiic/drivers/qwiic_max3010x"]
	path = qwiic/drivers/qwiic_max3010x
	url = https://github.com/sparkfun/Qwiic_MAX3010x_Py.git
[submodule "qwiic/drivers/qwiic_relay"]
	path = qwiic/drivers/qwiic_relay
	url = https://github.com/sparkfun/Qwiic_Relay_Py.git
[submodule "qwiic/drivers/ublox_gps"]
	path = qwiic/drivers_linux_only/ublox_gps
	url = https://github.com/sparkfun/qwiic_ublox_gps_py
[submodule "qwiic/drivers/qwiic_serlcd"]
	path = qwiic/drivers/qwiic_serlcd
	url = https://github.com/sparkfun/Qwiic_SerLCD_Py
[submodule "qwiic/drivers/qwiic_gpio"]
	path = qwiic/drivers/qwiic_gpio
	url = https://github.com/sparkfun/Qwiic_GPIO_Py.git
[submodule "qwiic/drivers/qwiic_adxl313"]
	path = qwiic/drivers_linux_only/qwiic_adxl313
	url = https://github.com/sparkfun/Qwiic_ADXL313_Py
[submodule "qwiic/drivers/qwiic_button"]
	path = qwiic/drivers/qwiic_button
	url = https://github.com/sparkfun/Qwiic_Button_Py.git
[submodule "qwiic/drivers/qwiic_rfid"]
	path = qwiic/drivers/qwiic_rfid
	url = https://github.com/sparkfun/Qwiic_RFID_Py
[submodule "qwiic/drivers/qwiic_soil_moisture_sensor"]
	path = qwiic/drivers/qwiic_soil_moisture_sensor
	url = https://github.com/sparkfun/Qwiic_Soil_Moisture_Sensor_Py
[submodule "qwiic/drivers/qwiic_pir"]
	path = qwiic/drivers_linux_only/qwiic_pir
	url = https://github.com/sparkfun/Qwiic_PIR_Py
[submodule "qwiic/drivers/qwiic_sgp40"]
	path = qwiic/drivers/qwiic_sgp40
	url = https://github.com/sparkfun/Qwiic_SGP40_Py
[submodule "qwiic/drivers/qwiic_kx13x"]
	path = qwiic/drivers/qwiic_kx13x
	url = https://github.com/sparkfun/Qwiic_KX13X_Py
[submodule "qwiic/drivers/qwiic_led_stick"]
	path = qwiic/drivers/qwiic_led_stick
	url = https://github.com/sparkfun/Qwiic_LED_Stick_Py
[submodule "qwiic/drivers/qwiic_eeprom"]
	path = qwiic/drivers_linux_only/qwiic_eeprom
	url = https://github.com/sparkfun/Qwiic_EEPROM_Py
[submodule "qwiic/drivers/qwiic_as6212"]
	path = qwiic/drivers_linux_only/qwiic_as6212
	url = https://github.com/sparkfun/Qwiic_AS6212_Py
[submodule "qwiic/drivers/qwiic_alphanumeric"]
	path = qwiic/drivers/qwiic_alphanumeric
	url = https://github.com/sparkfun/Qwiic_Alphanumeric_Py
[submodule "qwiic/drivers/qwiic_otos"]
	path = qwiic/drivers/qwiic_otos
	url = https://github.com/sparkfun/Qwiic_OTOS_Py

[submodule "qwiic/drivers/qwiic_tmp102"]
	path = qwiic/drivers/qwiic_tmp102
	url = https://github.com/sparkfun/Qwiic_TMP102_Py.git
[submodule "qwiic/drivers/qwiic_cap1203"]
	path = qwiic/drivers/qwiic_cap1203
	url = https://github.com/sparkfun/Qwiic_CAP1203_Py.git
[submodule "qwiic/drivers/qwiic_lsm6dso"]
	path = qwiic/drivers/qwiic_lsm6dso
	url = https://github.com/sparkfun/Qwiic_LSM6DSO_Py.git
[submodule "qwiic/drivers/qwiic_mmc5983ma"]
	path = qwiic/drivers/qwiic_mmc5983ma
	url = https://github.com/sparkfun/Qwiic_MMC5983MA_Py.git
[submodule "qwiic/drivers/qwiic_nau7802"]
	path = qwiic/drivers/qwiic_nau7802
	url = https://github.com/sparkfun/Qwiic_NAU7802_Py.git
[submodule "qwiic/drivers/qwiic_ultrasonic"]
	path = qwiic/drivers/qwiic_ultrasonic
	url = https://github.com/sparkfun/Qwiic_Ultrasonic_Py.git
[submodule "qwiic/drivers/qwiic_veml6030"]
	path = qwiic/drivers/qwiic_veml6030
	url = https://github.com/sparkfun/Qwiic_VEML6030_Py.git
[submodule "qwiic/drivers/qwiic_micropressure"]
	path = qwiic/drivers/qwiic_micropressure
	url = https://github.com/sparkfun/qwiic_micropressure_py.git
[submodule "qwiic/drivers/qwiic_as7265x"]
	path = qwiic/drivers/qwiic_as7265x
	url = https://github.com/sparkfun/qwiic_as7265x_py.git
[submodule "qwiic/drivers/qwiic_as726x"]
	path = qwiic/drivers/qwiic_as726x
	url = https://github.com/sparkfun/qwiic_as726x_py.git
[submodule "qwiic/drivers/qwiic_vl53l5cx"]
	path = qwiic/drivers/qwiic_vl53l5cx
	url = https://github.com/sparkfun/qwiic_vl53l5cx_py.git
[submodule "qwiic/drivers/qwiic_rv8803"]
	path = qwiic/drivers/qwiic_rv8803
	url = https://github.com/sparkfun/qwiic_rv-8803_py.git
[submodule "qwiic/drivers/qwiic_scd4x"]
	path = qwiic/drivers/qwiic_scd4x
	url = https://github.com/sparkfun/qwiic_scd4x_py.git
[submodule "qwiic/drivers/qwiic_ads1015"]
	path = qwiic/drivers/qwiic_ads1015
	url = https://github.com/sparkfun/qwiic_ads1015_py.git
[submodule "qwiic/drivers/qwiic_bmp581"]
	path = qwiic/drivers/qwiic_bmp581
	url = https://github.com/sparkfun/qwiic_bmp581_py.git
[submodule "qwiic/drivers/qwiic_mcp4725"]
	path = qwiic/drivers/qwiic_mcp4725
	url = https://github.com/sparkfun/qwiic_mcp4725_py.git
[submodule "qwiic/drivers/qwiic_mcp9600"]
	path = qwiic/drivers/qwiic_mcp9600
	url = https://github.com/sparkfun/qwiic_mcp9600_py.git
[submodule "qwiic/drivers/qwiic_tmp117"]
	path = qwiic/drivers/qwiic_tmp117
	url = https://github.com/sparkfun/qwiic_tmp117_py.git
[submodule "qwiic/drivers/qwiic_max1704x"]
	path = qwiic/drivers/qwiic_max1704x
	url = https://github.com/sparkfun/qwiic_max1704x_py.git
[submodule "qwiic/drivers/qwiic_ens160"]
	path = qwiic/drivers/qwiic_ens160
	url = https://github.com/sparkfun/qwiic_ens160_py.git
[submodule "qwiic/drivers/qwiic_fs3000"]
	path = qwiic/drivers/qwiic_fs3000
	url = https://github.com/sparkfun/qwiic_fs3000_py.git
[submodule "qwiic/drivers/qwiic_oled"]
	path = qwiic/drivers/qwiic_oled
	url = https://github.com/sparkfun/qwiic_oled_base_py.git
[submodule "qwiic/drivers/qwiic_ism330dhcx"]
	path = qwiic/drivers/qwiic_ism330dhcx
	url = https://github.com/sparkfun/qwiic_ism330dhcx_py.git
[submodule "qwiic/drivers/qwiic_huskylens"]
	path = qwiic/drivers/qwiic_huskylens
	url = https://github.com/sparkfun/qwiic_huskylens_py.git
[submodule "qwiic/drivers/qwiic_as7343"]
	path = qwiic/drivers/qwiic_as7343
	url = https://github.com/sparkfun/qwiic_as7343_py.git
