[submodule "drivers/qwiic_bme280"]
	path = qwiic/drivers/qwiic_bme280
	url = https://github.com/sparkfun/Qwiic_BME280_Py.git
[submodule "drivers/qwiic_ccs811"]
	path = qwiic/drivers/qwiic_ccs811
	url = https://github.com/sparkfun/Qwiic_CCS811_Py.git
[submodule "drivers/qwiic_mico_oled"]
	path = qwiic/drivers/qwiic_micro_oled
	url = https://github.com/sparkfun/Qwiic_Micro_OLED_Py.git
[submodule "drivers/qwiic_proximity"]
	path = qwiic/drivers/qwiic_proximity
	url = https://github.com/sparkfun/Qwiic_Proximity_Py.git
[submodule "drivers/qwiic_scmd"]
	path = qwiic/drivers/qwiic_scmd
	url = https://github.com/sparkfun/Qwiic_SCMD_Py.git
[submodule "qwiic_i2c"]
	path = qwiic_i2c
	url = https://github.com/sparkfun/Qwiic_I2C_Py.git
[submodule "drivers/qwiic_keypad"]
	path = qwiic/drivers/qwiic_keypad
	url = https://github.com/sparkfun/Qwiic_Keypad_Py.git
[submodule "drivers/qwiic_joystick"]
	path = qwiic/drivers/qwiic_joystick
	url = https://github.com/sparkfun/Qwiic_Joystick_Py.git
[submodule "drivers/qwiic_twist"]
	path = qwiic/drivers/qwiic_twist
	url = https://github.com/sparkfun/Qwiic_Twist_Py.git
[submodule "qwiic/drivers/qwiic_vl53l1x"]
	path = qwiic/drivers/qwiic_vl53l1x
	url = https://github.com/sparkfun/Qwiic_VL53L1X_Py
[submodule "qwiic/drivers/qwiic_pca9685"]
	path = qwiic/drivers/qwiic_pca9685
	url = https://github.com/sparkfun/Qwiic_PCA9685_Py
[submodule "qwiic/drivers/pi_servo_hat"]
	path = qwiic/drivers/pi_servo_hat
	url = https://github.com/sparkfun/PiServoHat_Py
[submodule "qwiic/drivers/qwiic_ublox_gps"]
	path = qwiic/drivers/qwiic_ublox_gps
	url = https://github.com/sparkfun/Qwiic_Ublox_Gps_Py
[submodule "qwiic/drivers/qwiic_titan_gps"]
	path = qwiic/drivers/qwiic_titan_gps
	url = https://github.com/sparkfun/Qwiic_Titan_Gps_Py
[submodule "qwiic/drivers/qwiic_tca9548a"]
	path = qwiic/drivers/qwiic_tca9548a
	url = https://github.com/sparkfun/Qwiic_TCA9548A_Py.git
[submodule "qwiic/drivers/qwiic_dual_encoder_reader"]
	path = qwiic/drivers/qwiic_dual_encoder_reader
	url = https://github.com/sparkfun/Qwiic_Dual_Encoder_Reader_Py.git
[submodule "qwiic/drivers/top_phat_button"]
	path = qwiic/drivers/top_phat_button
	url = https://github.com/sparkfun/Top_pHAT_Button_Py
